{% extends "home/base.html" %}

{% load tags_html %}

{% block contenido %}

<h2> {% image_tag "llave.png" %} Cambiar Clave </h2>

<form action='.' method='POST'>

    {% include 'home/error_form.html' %}

    {% csrf_token %}

    <pre>
    Clave Actual : {{ formulario.actual }}
    Clave Nueva  : {{ formulario.nueva }}
    Repita Nueva : {{ formulario.repetida }}
    </pre>

    <input type='submit' value='Actualizar'>
    {% url_button 'Cancelar' 'home_index' %}

</form>
<br />

{% endblock %}
