{% extends "home/base.html" %}

{% load tags_html %}

{% block contenido %}

<h2>{% image_tag 'usuario.png' %} Opciones de Menu </h2>

<table class='webgrid'>
	<tr class='webgrid-header'>
		<th>ID</th>
		<th>Nombre</th>
		<th>Link Int</th>
		<th>Link Ext</th>
		<th>Padre</th>
		<th>Orden</th>
		<th>Ultimo Cambio</th>
		<th></th>
		<th></th>
	</tr>

	{% for registro in lista %}
	<tr class='webgrid-row-style'>
		<td> {{ registro.id }} </td>
		<td> {{ registro.nombre }} </td>
		<td> {{ registro.action }} </td>
		<td> {{ registro.url }} </td>
		<td> {{ registro.padre }} </td>
		<td> {{ registro.orden }} </td>
		<td> {{ registro.updated|filtro_fecha }} </td>
		<td> <a href='{% url menu_edit registro.id %}'> {% image_tag 'edit.gif' %} </a> </td>
		<td> <a href='{% url menu_delete registro.id %}'> {% image_tag 'delete.gif' %} </a> </td>
	</tr>
	{% endfor %}
</table>

<br />
<a href='{% url menu_edit 0 %}'> {% image_tag 'crear.gif' %} </a>

{% endblock %}
